node_modules
dist
.DS_Store
.vscode
logs
nohup.out
server/src/image/imageRes/*
!server/src/image/imageRes/.gitkeep
camara/build
camara/sdkconfig
camara/sdkconfig.old
camara/main/cred.h
camara/managed_components/